<ion-header>
  <ion-navbar color="primary" style="text-align: center;">
    <ion-title>
      Timeline
    </ion-title>

  </ion-navbar>
</ion-header>




<ion-content padding style="background-color:ghostwhite;">

    <ion-fab  top right edge (click)="postBoxIsVisible = !postBoxIsVisible">
        <button ion-fab mini color="secondary"><ion-icon name="md-send"></ion-icon></button>
      </ion-fab>
    <ion-list>

      <ion-card  style="border-radius: 5px;background-color: ghostwhite;" *ngIf="postBoxIsVisible == true">

        <ion-card-content style=" padding-bottom: 5px;  padding-top: 5px; padding-left: 5px;padding-right: 5px;">
            <ion-textarea   id="post-textarea"
                  #postTextarea
                  autoresize="100"
                  placeholder="Quoi de neuf ?"
                  autofocus
                  spellcheck="on" 
                  autocomplete="true" 
                  [(ngModel)]="textToPublish" 
                  style="border-radius: 7px; background-color: white;
                  border: solid; 
                  border-color: cornflowerblue;">
            </ion-textarea>
            <button  ion-button  col-12  style="height : 35px;" [disabled]="!textToPublish" (click)="postBoxIsVisible = false;publish(); ">publier</button>        
            
        </ion-card-content>
      </ion-card>


      
      <ion-card class="text cards-job" *ngFor="let post of (timeline | async)?.reverse()">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{post.photoDeProfil}}">
        </ion-avatar>
        <h2>{{post.prenoms}}  {{post.nom}}</h2>
        <p>Posté le : {{post.date}}</p>
      </ion-item>


      <ion-card-content>
        <p>{{post.texte}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="danger" 
                  *ngIf="post.likersList.indexOf(this.currentUserInformation.userId)<0"
                  (click)="toLike(post)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div >{{post.like}} j'aime</div>    
          </button>
          <button ion-button icon-left clear small color="twitter" 
                  *ngIf="post.likersList.indexOf(this.currentUserInformation.userId)>0"
                  (click)="toUnlike(post)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div >{{post.like}} j'aime</div>    
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="danger">
            <ion-icon name="text" id="icon-eye"></ion-icon>
            <div>{{post.commentaire}} commentaires</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card class="text cards-job" *ngFor="let item of items | async">
    <ion-item>
      <ion-avatar item-left>
        <img src="https://firebasestorage.googleapis.com/v0/b/neolynker.appspot.com/o/photo%20d%20identite%20formatee.jpg?alt=media&token=2321fa9d-0aab-4dad-87bd-26099474c087">
      </ion-avatar>
      <h2>{{item.username}} {{item.lastname}}</h2>
      <p>Posté le : {{item.date}}</p>
    </ion-item>

    <img src="assets/img/card.jpg">

    <ion-card-content>
      <p>Voici la nouvelles application communautaire pour tous les neolynkers.</p>
    </ion-card-content>

    <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="danger">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>28 j'aime</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="danger">
            <ion-icon name="text" id="icon-eye"></ion-icon>
            <div>62 commentaires</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>


