page-home {

	.cards-job{
		margin:0px;
		width: 100%;
		margin-bottom: 4px;
	}
	.scroll-content{
		padding: 0px;
	}
	#col-new label{
		float: right;
		padding: 5px;
		background-color: #f53d3d;
		border-radius: 5px;
	}
	label{
		font-size: 12px;
	}
	#icon-eye{
		font-size: 24px;
	}

}
