page-about {

}
.nav-buttons {
    
}
#sidemenu, #tabname, #optionmenu {
    margin: 0;
    padding: 0;
}
 #sidemenu {
    box-shadow: none;
     display: block;
     float: left;
     width: 10%;
 }
 #tabname {
     
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 80%;
}
 #optionmenu {
    box-shadow: none;
    display: block;
     float: right;
     width: 10%;
 }